---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <!-- <img src="\imgs\Headshot_github.jpg">
  <p> 
    I am a PhD Candidate at the University of Washington. My research investigates the effects of snow on wildlife using remote sensing,
    machine learning, and quantitative wildlife models. I am honored to have conducted my research both in Washington state and Norway.
    My work is supported by NASA, the American Scandinavian Foundation, and Microsoft's AI for Earth Program. 
    Link: https://sefs.uw.edu/students/student-blog-post/field-study-experience-katie-breen-oslo-norway/ 
    LinkedIn: 
    Twitter: 
  </p> -->

  <p>
    About Me <br>
    <br>
    Hi! I am a PhD Candidate at the University of Washington, under the mentorship of Dr. Laura Prugh. The complexities and wonder of science has always fascinated me, 
    and for my dissertation, I use remote sensing, machine learning, and quantitative wildlife models to study how climate change impacts the well-being of wildlife. My work is supported by NASA, 
    the American Scandinavian Foundation, and Microsoft's AI for Earth Program. <br>
    
    I am honored to have conducted my research both in Washington state and Norway. In the U.S., I am honored to work with members of the Hydrological Sciences Lab at
    NASA Goddard Space Flight Center, with Dr. Carrie Vuyovich as my technical adviser. In Norway, I am honored to be affiliated with the Norsk Institutt
    for Naturforskning, Norway's leading institution for ecological research, where I am hosted by Dr. John Odden.  <br>
    <br>
    
    Before graduate school, I then worked in environmental policy and advocacy in Washington DC as well as an Earth Sciences researcher at NASA Ames Research Center. 
    My undergraduate degree is in Ecology and Evolutionary Biology from Princeton University (BA 2015), where I had the opportunity to conduct ecological research in Kenya,
    Sierra Leone and the southwest U.S. For my undergraduate thesis, I studied the variation of carbon stock and tree physiological traits
    in the Rocky Mountains, under the guidance of Dr. Stephen Pacala and Dr. William R. Anderegg.  <br>
    <br>
    Nature has always been a source of inspiration to me, and it is where I continue to go to find inspiration. In 2019, 
    I took a 6-months to thru-hike the full Pacific Crest Trail. I was able to see more the West Coast, U.S., than I thought imaginable.
    The questions I ask in my research are still influenced by that experience today. <br>
    <br>
    Finally, I believe that science is at its best when it is a place where all can thrive, regardless of age, gender, background, race, nationality, or religion. 
    I am thankful to the mentorship and communities that have supported me so far, and my work in both policy and research reminds of the importance of advancing towards
    complete inclusivity.

    Research Interests <br>
      remote sensing 
      machine learning
      wildlife science 
      climate change
  </p>
    <img src="\imgs\Headshot_github.jpg">´

<!-- 
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul> -->

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
