---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <!-- <img src="\imgs\Headshot_github.jpg">
  <p> 
    I am a PhD Candidate at the University of Washington. My research investigates the effects of snow on wildlife using remote sensing,
    machine learning, and quantitative wildlife models. I am honored to have conducted my research both in Washington state and Norway.
    My work is supported by NASA, the American Scandinavian Foundation, and Microsoft's AI for Earth Program. 
    Link: https://sefs.uw.edu/students/student-blog-post/field-study-experience-katie-breen-oslo-norway/ 
    LinkedIn: 
    Twitter: 
  </p> -->
  <style>
    .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%;
    max-height:100%;
  }
  
  .text {
    font-size: 5px;
    padding-left: 5px;
  }
    </style>
  <div class="container">
    <div class="image">
      <img src="\imgs\Headshot_github.jpg">
    </div>
    <div class="text">
      <h1>  I am a PhD Candidate at the University of Washington. <br>
        My research investigates the effects of snow on wildlife using <br>
        remote sensing, machine learning, and quantitative wildlife models. <br>
        I am honored to have conducted my research both in Washington state <br>
        and Norway. My work is supported by NASA, the American Scandinavian <br> 
        Foundation, and Microsoft's AI for Earth Program. <br>
    </div>
  </div>

<!-- 
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul> -->

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
